<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ApplGar - Поиск заявлений в ЕРЗ ТФОМС</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<br />
		<form th:method="POST" th:action="@{/appl}" id="applForm"
			onsubmit="document.getElementById('spinner').style.display = 'inline-block';">
			<table class="table table-sm">
				<tr>
					<td class="small">Дата регистрации(диапазон)*</td>
					<td
						th:classappend="${#fields.hasErrors('applSParam.dtReg1')} ? 'alert alert-danger' : ''"><input
						type="date" th:field="*{applSParam.dtReg1}" id="dtReg1"
						class="form-control form-control-sm" /></td>
					<td
						th:classappend="${#fields.hasErrors('applSParam.dtReg2')} ? 'alert alert-danger' : ''"><input
						type="date" th:field="*{applSParam.dtReg2}" id="dtReg2"
						class="form-control form-control-sm" /></td>
				</tr>
				<tr>
					<td class="small">Инспектор/Подразделение</td>
					<td><select th:field="*{applSParam.cdInsp}"
						class="form-control form-control-sm" th:onchange="checkInspectorValue(this.value)">
							<option value=""></option>
							<option th:each="inspector : ${inspectors}"
								th:value="${inspector.cdInsp}" th:text="${inspector.fioInsp} + ' (' + ${inspector.cdFsmo} + ' филиал)'"
								th:selected="${applSParam.cdInsp}"></option>
					</select></td>
					<td><select th:field="*{applSParam.cdFsmo}"
						class="form-control form-control-sm" th:onchange="checkBranchValue(this.value)">
							<option value=""></option>
							<option th:each="branch : ${branches}"
								th:value="${branch.cdFsmo}" th:text="${branch.name}"
								th:selected="${applSParam.cdFsmo}"></option>
					</select></td>
				</tr>
				<tr>
					<td class="small">Документ, удостоверяющий личность
					</td>
					<td class="small"><input type="text" th:field="*{applSParam.serDoc}"
						id="serDoc" class="form-control form-control-sm" placeholder="серия"/></td>
					<td class="small"><input type="text" th:field="*{applSParam.numDoc}"
						id="numDoc" class="form-control form-control-sm" placeholder="номер"/></td>
				</tr>
				<tr>
					<td><input type="submit" value="Поиск" class="btn btn-sm btn-primary" />
						<input type="button" value="Очистить"
						onclick="location.href='/appl?clear=1'" class="btn btn-sm btn-secondary" />
						<input type="button" value="В Excel"
						th:onclick="|downloadExcel()|" class="btn btn-sm btn-secondary" /></td>
					<td>
						<div style="display: none;" id="spinner">
							<div class="spinner-border spinner-border-sm" role="status">
								<span class="sr-only">Loading...</span>
							</div>
							<small>загрузка...</small>
						</div>
					</td>
					<td align="right"><input type="button" value="Выход" class="btn btn-sm btn-dark"
						onclick="location.href='/appl?exit=1'" /></td>
				</tr>
			</table>
			<br>
			<div th:if="${applPage.content.size} > 0">
				<table class="table table-sm table-striped table-hover">
					<thead class="thead-dark">
						<tr class="small">
							<th>Фамилия</th>
							<th>Имя</th>
							<th>Отчество</th>
							<th>Дата рождения</th>
							<th>Дата подачи</th>
							<th>Код филиала</th>
							<th>Инспектор</th>
							<th>Адрес по ГАР</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="appl, iStat : ${applPage.content}"
							class='clickable-row small' th:onclick="|goToAddress(${appl.id_appl})|"
							style="cursor: pointer;">
							<td align="left" th:text="${appl.fam}" />
							<td align="left" th:text="${appl.im}" />
							<td align="left" th:text="${appl.ot}" />
							<td align="left"
								th:text="${#dates.format(appl.dr, 'dd.MM.yyyy')}" />
							<td align="left"
								th:text="${#dates.format(appl.dtAppl, 'dd.MM.yyyy')}" />
							<td align="left" th:text="${appl.cdFsmo}" />
							<td align="left" th:text="${appl.inspector.fioInsp}" />
							<td align="center"><span th:if="${appl.garAppl != null}">&check;</span></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Pagination" th:if="${applPage.totalPages gt 0}">
					<ul class="pagination pagination-sm justify-content-center font-weight-medium">
						<li class="page-item"
							th:classappend="${applPage.number eq 0} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${applPage.number eq 0} ? 'disabled'"
								th:onclick="|goToPage(${applPage.number lt 2 ? 1 : applPage.number})|">
								<p>&#60;&#60;
								<p>
							</button>
						</li>
						<li class="page-item"
							th:classappend="${i eq applPage.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence(applPage.totalPages > applPage.number + 10 ? applPage.number + 1 : applPage.totalPages - 10 > 0 ? applPage.totalPages - 10 : 1, applPage.totalPages > 10 + applPage.number ? applPage.number + 10 : applPage.totalPages, 1)}">
							<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
							th:text="${i}"><span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item disabled"
							th:if="${applPage.number + 10 < applPage.totalPages}"><a
							class="page-link" href="#"> ... </a></li>
						<li class="page-item"
							th:classappend="${applPage.number + 1 eq applPage.totalPages} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${applPage.number + 1 eq applPage.totalPages} ? 'disabled'"
								th:onclick="|goToPage(${applPage.number + 2})|">
								<p>&#62;&#62;
								<p>
							</button>
						</li>
					</ul>
				</nav>
			</div>
			<input type="hidden" id="page" name="page" /> <input type="hidden"
				id="idAppl" name="idAppl" />
		</form>
	</div>
	<script type="text/javascript">
		document.getElementById("applForm").onkeypress = function(e) {
			var key = e.charCode || e.keyCode || 0;
			if (key == 13) {
				e.preventDefault();
			}
		}
		function goToPage(page) {
			document.getElementById('spinner').style.display = 'inline-block';
			document.getElementById("applForm").page.value = page;
			document.getElementById("applForm").submit();
		}
		function goToAddress(idAppl) {
			form = document.getElementById("applForm");
			form.idAppl.value = idAppl;
			form.action = "/appl/addr";
			form.target = "_blank";
			form.submit();
			form.action = "/appl";
			form.target = "_self";
		}
		function downloadExcel() {
			form = document.getElementById("applForm");
			if (form.dtReg1.value != '' && form.dtReg2.value != '')
				form.action = "/appl/report";
			form.submit();
			form.action = "/appl";
			timerId = setInterval(function() {
				getReportStatus();
			}, 1000);
			document.getElementById('spinner').style.display = 'inline-block';
		}
		function getReportStatus() {
			const xhttp = new XMLHttpRequest();
			xhttp.onload = function() {
				if (xhttp.responseText == 'done') {
					clearTimeout(timerId);
					document.getElementById('spinner').style.display = 'none';
				}
			}
			xhttp.open("GET", window.location.href + "/report/status");
			xhttp.send();
		}
		function checkInspectorValue(value) {
			var cdFsmo = document.getElementById("cdFsmo");
			var cdInsp = document.getElementById("cdInsp");
			if (value != "") {
				cdFsmo.setAttribute("disabled", "");
				cdFsmo.value = "";
			} else {
				cdFsmo.removeAttribute("disabled");
			}
		}
		function checkBranchValue(value) {
			var cdFsmo = document.getElementById("cdFsmo");
			var cdInsp = document.getElementById("cdInsp");
			if (value != "") {
				cdInsp.setAttribute("disabled", "");
				cdInsp.value = "";
			} else {
				cdInsp.removeAttribute("disabled");
			}
		}
	</script>
</body>
</html>