<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ApplGar - Поиск кратких сведений о персонах</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<br />
		<form th:method="POST" th:action="@{/pers/crit}" id="persForm">
			<table class="table table-sm">
				<tr class="small">
					<td class="w-25">ФИО, ОКАТО территории</td>
					<td colspan="3"><select th:field="*{persCritSParam.terrOkato}"
						class="form-control form-control-sm">
							<option value=""></option>
							<option th:each="okato : ${okatos}" th:value="${okato.code}"
								th:text="${okato.title}"
								th:selected="${persCritSParam.terrOkato}"></option>
					</select></td>
					<td><input type="text" th:field="*{persCritSParam.lastName}"
						id="lastName" class="form-control form-control-sm"
						placeholder="фамилия" /></td>
					<td><input type="text" th:field="*{persCritSParam.firstName}"
						id="firstName" class="form-control form-control-sm"
						placeholder="имя" /></td>
					<td><input type="text" th:field="*{persCritSParam.patronymic}"
						id="patronymic" class="form-control form-control-sm"
						placeholder="отчество" /></td>
				</tr>
				<tr class="small">
					<td>Коды надежности идентификации</td>
					<td colspan="6">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox"
								id="dost1" value="1"
								th:checked="${persCritSParam.dost != null && persCritSParam.dost.contains('1')}"
								name="dost" /><label for="dost1"
								class="form-check-label">отсутствует отчество&nbsp;&nbsp;</label>
							<input class="form-check-input" type="checkbox"
								id="dost2" value="2"
								th:checked="${persCritSParam.dost != null && persCritSParam.dost.contains('2')}"
								name="dost" /><label for="dost2"
								class="form-check-label">отсутствует фамилия&nbsp;&nbsp;</label>
							<input class="form-check-input" type="checkbox"
								id="dost3" value="3"
								th:checked="${persCritSParam.dost != null && persCritSParam.dost.contains('3')}"
								name="dost" /><label for="dost3"
								class="form-check-label">отсутствует имя</label>
						</div>
					</td>
				</tr>
				<tr class="small">
					<td>Признак поиска по архивным ФИО</td>
					<td><select class="custom-select custom-select-sm"
						th:field="*{persCritSParam.oldsfp}">
							<option value="0">Прямые таблицы</option>
							<option value="1">Архивные таблицы</option>
					</select></td>
					<td colspan="5"></td>
				</tr>
<!-- 				<tr class="small"> -->
<!-- 					<td>Гражданство</td> -->
<!-- 				</tr> -->
			</table>
		</form>
	</div>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>