<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ApplGar - данные о персоне для печати</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<br />
		<div class="row" th:if="${policies.size > 0}"
			th:each="policy : ${policies}">
			<div class="col-3">Полис(старого образца)</div>
			<div class="col-9"
				th:text="${policy.pcySer != null ? policy.pcySer : ''} + ' ' + ${policy.pcyNum != null ? policy.pcyNum : ''}"></div>
			<div class="col-3">ЕНП расчетный</div>
			<div class="col-9" th:text="${policy.enpCalc}"></div>
			<div class="col-3">ЕНП (нового образца)</div>
			<div class="col-9" th:text="${policy.enp}"></div>
			<div class="col-3">Официальная СМО</div>
			<div class="col-9" th:text="${policy.insurName}"></div>
			<div class="col-3">Фактическая СМО</div>
			<div class="col-9" th:text="${policy.insurfName}"></div>
			<div class="col-3">Дата начала действия полиса</div>
			<div class="col-9"
				th:text="${#dates.format(policy.pcyDateB, 'dd.MM.yyyy')}"></div>
			<div class="col-3">Дата окончания действия полиса</div>
			<div class="col-9"
				th:text="${#dates.format(policy.pcyDateE, 'dd.MM.yyyy')}"></div>
			<div class="col-3">Статус полиса</div>
			<div class="col-9" th:text="${policy.pcyStatus}"></div>
		</div>
		<hr />
		<div class="row">
			<div class="col-3">ФИО</div>
			<div class="col-9"
				th:text="${person.lastName} + ' ' + ${person.firstName} + ' ' + ${person.patronymic}"></div>
			<div class="col-3">Дата рождения</div>
			<div class="col-9"
				th:text="${#dates.format(person.birthDay, 'dd.MM.yyyy')}"></div>
		</div>
		<hr />
		<div class="row" th:if="${dudls.size > 0}" th:each="dudl : ${dudls}">
			<div class="col-3">Документ</div>
			<div class="col-9"
				th:text="${dudl.dudlType.docName} + ' ' + ${dudl.dudlSer} + ' ' + ${dudl.dudlNum}"></div>
			<div class="col-3">Дата начала действия</div>
			<div class="col-9"
				th:text="${#dates.format(dudl.dudlDateB, 'dd.MM.yyyy')}"></div>
		</div>
		<hr />
		<div class="row" th:if="${snilses.size > 0}"
			th:each="snils : ${snilses}">
			<div class="col-3">СНИЛС</div>
			<div class="col-9" th:text="${snils.snils}"></div>
		</div>
		<hr />
		<div class="row" th:if="${attaches.size > 0}"
			th:each="attach : ${attaches}">
			<div class="col-3">МО в реестре ОМС</div>
			<div class="col-9" th:text="${attach.lpu != null ? attach.lpu.title : ''}"></div>
			<div class="col-3">Дата прикрепления</div>
			<div class="col-9"
				th:text="${#dates.format(attach.dateAttachB, 'dd.MM.yyyy')}"></div>
		</div>
	</div>
</body>
</html>