<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ApplGar - Данные о персоне</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

</head>
<body>
	<div class="container">
		<form th:method="POST" id="resForm" class="form-inline" target="blank" th:action="@{/pers/res/report}" >
			<h4>Персональные данные</h4>
			<input type="hidden" name="rid" th:value="${personData.rid}"/>&nbsp;<input type="submit"
				value="версия для печати" class="btn btn-sm btn-link" name="saveRequest" />
		</form>
		<div id="accordion">
			<div class="card">
				<div class="card-header">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseOip" aria-expanded="false"
						aria-controls="collapseOip">Обезличенный идентификатор
						персоны</button>
				</div>
				<div id="collapseOip" class="collapse" aria-labelledby="headingOne"
					data-parent="#accordion">
					<div class="card-body">
						<p class="card-text" th:text="${personData.oipRes}"></p>
					</div>
				</div>
			</div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).Person.name()) || showList.size() == 0}"
				th:insert="show :: Person"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).OmsPolicy.name()) || showList.size() == 0}"
				th:insert="show :: OmsPolicy"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).Dudl.name()) || showList.size() == 0}"
				th:insert="show :: Dudl"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).Address.name()) || showList.size() == 0}"
				th:insert="show :: Address"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).Attach.name()) || showList.size() == 0}"
				th:insert="show :: Attach"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).Contact.name()) || showList.size() == 0}"
				th:insert="show :: Contact"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).Snils.name()) || showList.size() == 0}"
				th:insert="show :: Snils"></div>
			<div
				th:if="${showList.contains(T(ru.tfoms.applgar.service.PersDataService.Show).SocialStatus.name()) || showList.size() == 0}"
				th:insert="show :: SocialStatus"></div>
		</div>
		<br /> <input type="button" value="Выход"
			class="btn btn-sm btn-secondary" onclick="window.close();" />
	</div>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>