<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ApplGar - информация о полисе</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<br />
		<div class="card">
			<div class="card-header"
				th:text="${person.lastName} + ' ' + ${person.firstName} + ' ' + ${person.patronymic} + ', ' + ${#dates.format(person.birthDay, 'dd.MM.yyyy')}"></div>
			<div class="card-body">
				<div class="row" th:if="${policies.size > 0}"
					th:each="policy : ${policies}">

					<div class="col-4">Полис(старого образца)</div>
					<div class="col-8"
						th:text="${policy.pcySer != null ? policy.pcySer : ''} + ' ' + ${policy.pcyNum != null ? policy.pcyNum : ''}"></div>

					<div class="col-4">ЕНП расчетный</div>
					<div class="col-8" th:text="${policy.enpCalc}"></div>

					<div class="col-4">ЕНП (нового образца)</div>
					<div class="col-8" th:text="${policy.enp}"></div>

					<div class="col-4">Дата начала действия полиса</div>
					<div class="col-8"
						th:text="${#dates.format(policy.pcyDateB, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата окончания действия полиса</div>
					<div class="col-8"
						th:text="${#dates.format(policy.pcyDateE, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата выдачи полиса на руки</div>
					<div class="col-8"
						th:text="${#dates.format(policy.pcyDateH, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата обращения за полисом</div>
					<div class="col-8"
						th:text="${#dates.format(policy.pcyDateT, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата расчёта номера ЕНП</div>
					<div class="col-8"
						th:text="${#dates.format(policy.pcyDateEnpCalc, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата изготовления полиса</div>
					<div class="col-8"
						th:text="${#dates.format(policy.pcyDatePr, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Тип полиса страхования</div>
					<div class="col-8" th:text="${policy.pcyType}"></div>

					<div class="col-4">Статус полиса</div>
					<div class="col-8" th:text="${policy.pcyStatus}"></div>

					<div class="col-4">ОКАТО территории страхования</div>
					<div class="col-8"
						th:text="${policy.okato != null ? policy.okato.title : ''}"></div>

					<div class="col-4">Источник данных</div>
					<div class="col-8"
						th:text="${policy.dsource != null ? policy.dsource.title : policy.dsourceStr}"></div>

					<div class="col-4">Вид источника данных</div>
					<div class="col-8" th:text="${policy.dsourceType}"></div>

					<div class="col-4">Описание</div>
					<div class="col-8" th:text="${policy.descr}"></div>

					<div class="col-4">Половая принадлежность</div>
					<div class="col-8" th:text="${policy.gender == 1 ? 'М' : 'Ж'}"></div>

					<div class="col-4">Официальная СМО</div>
					<div class="col-8" th:text="${policy.insurName}"></div>

					<div class="col-4">Фактическая СМО</div>
					<div class="col-8" th:text="${policy.insurfName}"></div>

					<div class="col-4">ОГРН официальной СМО</div>
					<div class="col-8" th:text="${policy.insurOgrn}"></div>

					<div class="col-4">ОГРН фактической СМО</div>
					<div class="col-8" th:text="${policy.insurfOgrn}"></div>

					<div class="col-4">Код официальной СМО</div>
					<div class="col-8" th:text="${policy.insurCode}"></div>

					<div class="col-4">Код фактической СМО</div>
					<div class="col-8" th:text="${policy.insurfCode}"></div>

					<div class="col-4">Дата начала работы с ЗЛ</div>
					<div class="col-8"
						th:text="${#dates.format(policy.insurfDate, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Номер временного свидет-ва</div>
					<div class="col-8" th:text="${policy.tmpcertNum}"></div>

					<div class="col-4">Дата начала действия ВС</div>
					<div class="col-8"
						th:text="${#dates.format(policy.tmpcertDateB, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Дата окончания действия ВС</div>
					<div class="col-8"
						th:text="${#dates.format(policy.tmpcertDateE, 'dd.MM.yyyy')}"></div>

					<div class="col-4">Номер универсал. элек. карты</div>
					<div class="col-8" th:text="${policy.uekNum}"></div>

					<div class="col-4">Категория ЗЛ</div>
					<div class="col-8"
						th:text="${policy.pcyCategory != null ? policy.pcyCategory.name : ''}"></div>

					<div class="col-4">Номер бланка полиса</div>
					<div class="col-8" th:text="${policy.blankNum}"></div>
				</div>
				<br /> <input type="button" value="Выход"
					class="btn btn-sm btn-secondary" onclick="window.close();" />
			</div>
		</div>
	</div>
</body>
</html>